/* start setting area */
* {
  box-sizing: border-box;
  text-transform: capitalize;
}
:root {
  --main-color: #0075ff;
  --border-radius: 6px;
}
/* end setting area */

.quiz-app {
  width: 1000px;
  margin: 20px auto;
  background-color: #f8f8f8;
  padding: 15px;
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
}

/* start game info */
.quiz-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
}
.quiz-info span {
  color: #ff1b1b;
  font-size: 18px;
}
/* end game info */

/* start quiz area */
.quiz-app .quiz-area {
  background-color: #fff;
  padding: 20px;
  margin-top: 15px;
  display: none;
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
}
.quiz-app .quiz-area h2 {
  margin: 0;
}

/* end quiz area */

/* start answer area */
.quiz-app .answer-area {
  background-color: #fff;
  padding: 0 20px 20px;
  display: none;
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
}
.quiz-app .answer-area .answer {
  background-color: #f9f9f9;
  padding: 15px;
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
}
.quiz-app .answer-area .answer:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answer-area .answer input[type="radio"]:checked + label {
  color: var(--main-color);
}
.quiz-app .answer-area .answer label {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}
/* end answer area */

/* start submit button */
.quiz-app .submit-button {
  background-color: var(--main-color);
  display: none;
  width: 100%;
  margin: 15px auto;
  padding: 10px 15px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
}
.quiz-app .submit-button:focus {
  outline: none;
}
/* end submit button */

/* start bullets */
.quiz-app .bullets {
  border-top: 1px solid #dfdfdf;
  background-color: #fff;
  align-items: center;
  display: none;
  padding: 20px;
  margin-bottom: 15px;
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
}
.quiz-app .bullets .spans-cont {
  flex: 1;
  display: flex;
}
.quiz-app .bullets .spans-cont span {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  margin-right: 5px;
  outline: 1px solid rgb(27, 27, 27);
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.quiz-app .bullets .spans-cont span.on {
  background-color: var(--main-color);
}
.quiz-app .bullets .countdown {
  background-color: var(--main-color);
  padding: 5px 10px;
  color: #fff;
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
}
/* end bullets */

/* start results */
.quiz-app .results {
  padding: 10px;
  background-color: #fff;
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  display: none;
}
.quiz-app .results span {
  font-weight: bold;
}
.quiz-app .results span.bad {
  color: #dc0a0a;
}
.quiz-app .results span.good {
  color: #009688;
}
.quiz-app .results span.perfect {
  color: var(--main-color);
}
/* end results */

/* start category */
.quiz-app .categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 15px;
  padding: 10px;
  background-color: #fff;
  -o-border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  border-radius: var(--border-radius);
}
.quiz-app .categories #button {
  background-color: #009688;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: var(--border-radius);
  cursor: pointer;
}
/* end category */
